APP_PORT= eg: 8081

REDIS_HOST=localhost
REDIS_PORT=6379


JWT_SECRET=
JWT_EXPIRY= in minutes eg: 40m,120m

DB_URL= eg:  postgres://postgres:yourpassword@localhost:5432/tripneo_auth?sslmode=disable

RESEND_API_KEY= check resend.com for api key